@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
ion-text{
    font-family: 'Baloo Tamma 2', cursive;
    font-size:15px;
  }
  i{
    color:black;
    font-size: 20px;
    padding-top:12px ;
  }
  ion-label h2 .fas{
    color:red;
  }
  .carz{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    border-radius:0.3rem;
  }
  ion-toolbar{
    --min-height:12px;
    padding-bottom:10px;
  }