<ion-header class="dusty-grass-gradient">  
  
  <ion-row class="text-center">
    <ion-col size=2 >      
      <a routerLink="/tabs/categories"><i class="fas fa-arrow-left"></i></a>
    </ion-col>
    <ion-col size=10  style="margin-left:-7%;">
      <div style=" color:black;  font-family: 'Baloo Tamma 2', cursive; padding:10px; font-size:18px">
        <span  style="color:black; font-weight: 600; ">  {{category+'s'}} </span>
        
      </div>    
    </ion-col>
  </ion-row>  
</ion-header>

<ion-content>

   
    <ion-searchbar [(ngModel)]="itemname" name="itemname" (ionInput)="FilterData($event)" placeholder=Search> </ion-searchbar>
    
    <ion-text *ngIf="Products.length==0" align=center>
      <h3 > {{displayMsg}} </h3>
    </ion-text>
    <ion-toolbar *ngIf="category.split(' ')[1]=='vegetable'">
      <ion-segment value="all">
        <ion-segment-button value="all" (click)="Filter('all')">
          all
        </ion-segment-button>
        <ion-segment-button value="leafy" (click)="Filter('leafy')">
          leafy
        </ion-segment-button>
        <ion-segment-button value="non-leafy" (click)="Filter('non-leafy')">
          non-leafy
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-row *ngIf="filtered.length==0">      
      
    <ion-col size=5 *ngFor="let item of Products" style="margin-left:5%; margin-bottom:5%" class="carz">
      <ion-row>
      <img [src]=item.imgUrl width="100%" height=130px> 
      </ion-row>
    <ion-label style="font-family: 'Baloo Tamma 2', cursive;">
      <h2> {{item.name}} </h2>
      
      <p > 
        {{item.amount}}
      </p>
      
      
      <p>  {{ " ₹ " + item.cost}}/-</p> </ion-label>
      <ion-row *ngIf='item.qty==0' >
        <ion-col size=1></ion-col>
        <ion-col size=1> </ion-col>
        <ion-col size=10>
          <ion-button (click)="iqty(item)" class="dusty-grass-gradient" size=small expand=full style="margin-left:50%;">ADD</ion-button>
        </ion-col>
          
      </ion-row>
      <ion-row *ngIf='item.qty!=0'>
          <ion-col size=3 align=center>
             <ion-icon (click)="dqty(item)" name="remove-circle" color=success></ion-icon>
          </ion-col>
          <ion-col size=6 align=center style="margin-top:-3%;"> 
              <span style="font-size: 12px; font-weight: 500;" *ngIf="check(item.amount)">{{val[size.indexOf(item.subqty)]}}</span>
              <span style="font-size: 12px; font-weight: 500;" *ngIf="!check(item.amount)">{{item.subqty}}</span>
          </ion-col>
          <ion-col size=3  align=center>
            <ion-icon name="add-circle" (click)="iqty(item)" color=success></ion-icon>
        </ion-col>
      </ion-row>      
    </ion-col>
    
  </ion-row>



  <ion-row *ngIf="filtered.length!=0">      
      
    <ion-col size=5 *ngFor="let item of filtered" style="margin-left:5%; margin-bottom:5%" class="carz">
      <ion-row>
      <img [src]=item.imgUrl width="100%" height=130px> 
      </ion-row>
    <ion-label style="font-family: 'Baloo Tamma 2', cursive;">
     <h2> {{item.name}} </h2>
      
            <p > 
                {{item.amount}}
            </p>
            
      
      
      
      <p>  {{ " ₹ " + item.cost + "/-"}}</p> </ion-label>
      <ion-row *ngIf='item.qty==0' >
        <ion-col size=1></ion-col>
        <ion-col size=1> </ion-col>
        <ion-col size=10>
          <ion-button (click)="iqty(item)" class="dusty-grass-gradient" size=small expand=full style="margin-left:50%;">ADD</ion-button>
        </ion-col>
          
      </ion-row>
      <ion-row *ngIf='item.qty!=0'>
        <ion-col size=3 align=center>
           <ion-icon (click)="dqty(item)" name="remove-circle" color=success></ion-icon>
        </ion-col>
        <ion-col size=6 align=center style="margin-top:-3%;"> 
            <span style="font-size: 12px; font-weight: 500;" *ngIf="check(item.amount)">{{val[size.indexOf(item.subqty)]}}</span>
            <span style="font-size: 12px; font-weight: 500;" *ngIf="!check(item.amount)">{{item.subqty}}</span>
        </ion-col>
        <ion-col size=3  align=center>
          <ion-icon name="add-circle" (click)="iqty(item)" color=success></ion-icon>
      </ion-col>
    </ion-row>     
    </ion-col>
    
  </ion-row>

</ion-content>
