
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
ion-item{
    margin-left:5%; 
    margin-right:5%; 
    width:85%
}
ion-label{
    font-family: 'Baloo Tamma 2', cursive;
    color:lightgreen;
}