<ion-header class="dusty-grass-gradient">
  <div align=center  style=" color:black;  font-family: 'Baloo Tamma 2', cursive; padding:15px;">
    <span  style="color:black; font-weight: 600; ">  Contact Us </span>
    
  </div>    
</ion-header>

<ion-content>
    <ion-card class="dusty-grass-gradient">
      <br><br>
      <br> <br><br>
      <ion-row>
        <ion-col></ion-col>
          <ion-col size=10>
            <button class="btn dusty-grass-gradient" style="width:97%">
              <a href="https://api.whatsapp.com/send?phone=919985960449">whatsapp us&nbsp; &nbsp;
                <i class="fab fa-whatsapp" style="font-size: 30px;    color:black;"></i> </a>
            </button>
          </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col></ion-col>
          <ion-col size=10>
            <button class="btn dusty-grass-gradient" style="width:97%; " (click)="call()">
              <a  style="color:black">Call us &nbsp; &nbsp;<i class="fas fa-phone" style="font-size: 20px;    color:black;"></i> </a>
            </button>
            
          </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <br><br><br><br><br>
</ion-card>


    
</ion-content>
