@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
ion-tab-button{
    --padding-start: 5px;
    --padding-end:5px;
    --color-selected:lightgreen;
}
ion-label{
    font-family: 'Baloo Tamma 2', cursive;
}
