@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
ion-card{
    padding:3%;
    box-shadow: 0 0 2px 2px rgb(161, 204, 158);
    z-index:1;
    border-radius:2rem;
}
.navbar{
    margin:3%;
    
}
.navbar-collapse ul li a{
    color:black;
} 
i{
    color:black;
}
.navbar a h4{
    font-size:16px;
}

