@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Merienda:wght@700&family=Patrick+Hand&family=Satisfy&family=Shadows+Into+Light&family=Tangerine:wght@700&display=swap');
.stll{
padding-left:10%;
padding-right:10%;
font-family: 'Merienda', cursive;
color:black;
font-weight: 700;
}
ion-content ion-toolbar {
  --background: translucent;
}

ion-title{
  font-family: 'Baloo Tamma 2', cursive;
  color:black
}
ion-button{
  font-size:12px;
  
}


ion-icon{
  font-size:20px;
}
.myclass{
  background: transparent;
  box-shadow: none;
  opacity: 0.9;
}

ol li{
  padding:2%;
  font-size: 12px;
  color:black;
  font-family: 'Baloo Tamma 2', cursive;
}
ion-row ol{
  padding-top:4%;
}

