<ion-header class="dusty-grass-gradient">
  <ion-row>
    <ion-col size=4>
      <img src="https://res.cloudinary.com/dmm4awbwm/image/upload/v1588358696/vinayaka_gdj0qc.jpg" style="height:65px; padding:5%">
    </ion-col>
    <ion-col size=8>
      <div  style="line-height: 1.2rem; color:black;  font-family: 'Baloo Tamma 2', cursive; padding-top:15px;">
        <span  style="color:black; font-weight: 600; ">  Vijaya Vinayaka Organics </span>
        <p style="font-size: 10px; margin-left: 8%;">Be Organic. Be Healthy. Be You.</p>
      </div>  
    </ion-col>
  </ion-row>
    
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card  >
  <ion-row style=" color:black; font-family: 'Baloo Tamma 2', cursive;" align=center class="dusty-grass-gradient"> 
    <br><br> 
    <span style="font-size:12px;" class="stll"> Chemicals and pesticides free crop consumption will save your health, wealth and environment.  </span>
    <br><br>
  </ion-row> 
    <ion-row class="dusty-grass-gradient">
      <ol>
        <li>
          We are delivering Farm fresh Vegetables and Fruits twice a week.
          
        </li>
        <li>
            Orders placed till Monday evening will be delivered on Tuesday evening or Wednesday Morning.
        </li>
        <li>
          Orders placed till Thursday evening will be delivered on Friday evening or Saturday Morning.
        </li>
        <li>
          Minimum Orders must be above Rs. 200/-
        </li>
      </ol>
          
    </ion-row>
  </ion-card>

  
  
    <ion-row style="padding:2%;">
      
      <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
            <img class="d-block w-100" src="assets/fruits.jpg"  alt="First slide" height=200px>
        <div class="mask rgba-black-light"></div>
      </div>
      <a (click)="organicFruit()"> <div class="carousel-caption">
        <h3 class="h3-responsive" style="font-size:medium">Organic Fresh Fruits</h3>
        <p>order now!</p>
      </div></a>
    </div>
   <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets/vegetables.jpg" height=200px  alt="Second slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <a (click)="organicVegetable()">  <div class="carousel-caption">
        <h3 class="h3-responsive" style="font-size:medium">Organic Fresh Vegetables</h3>
        <p>order now!</p>
      </div></a>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="assets/groceries.jpg" height=200px alt="third slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <a (click)="organicGroceries()">  <div class="carousel-caption">
        <h3 class="h3-responsive" style="font-size:medium">Organic Groceries</h3>
        <p>order now!</p>
      </div></a>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
      
</ion-row>
    
</ion-content>
