@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

ion-content{
    
    font-family: 'Baloo Tamma 2', cursive;
    
}
ion-row{
    font-family: 'Baloo Tamma 2', cursive;
}
ion-title{
    font-family: 'Baloo Tamma 2', cursive;
}
ion-card{
    color:black;
}