<ion-header class="dusty-grass-gradient">
  <div align=center  style=" color:black;  font-family: 'Baloo Tamma 2', cursive; padding:15px;">
    <span  style="color:black; font-weight: 600; "> My Bag </span>
    
  </div>    
</ion-header>

<ion-content >
    <ion-text *ngIf="items==undefined" style="font-style: italic; font-size: 15px;" align=center>
        <h3 > {{displayMsg}} </h3>
    </ion-text>
    <ion-card *ngFor="let item of items">
        <ion-row >
            <ion-col size=4>
                <img [src]="item.imgUrl" height=70% width=100% style="margin-top:20%;">
            </ion-col>
            <ion-col size=8 style="font-style: italic; font-size: 15px; ">                 
                <h5 >{{ item.name}} </h5>               
          <p style="font-size:14px" *ngIf="item.amount.split(' ')[1]=='Kg'"> {{item.subqty}}    {{item.amount.split(' ')[1]}}  &nbsp; | &nbsp; {{" unit price : "+" ₹ "+item.cost+"/-"}}</p>
          <p style="font-size:14px" *ngIf="item.amount.split(' ')[1]!='Kg'">{{item.subqty}}   {{item.amount.split(' ')[1]}}   &nbsp; | &nbsp; {{" unit price : "+" ₹ "+item.cost+"/-"}}</p>
           <p style="font-size:14px"> Sub total :   {{" ₹ "+item.cost*item.subqty + "/- " }}  </p> 
      
      <ion-row style="margin-top:-8%;">
        <ion-col size=3 >
          <ion-icon (click)="dqty(item)" name="remove-circle" color=success></ion-icon>
       </ion-col>
       <ion-col size=3  align=center>
         <ion-icon name="add-circle" (click)="iqty(item)" color=success></ion-icon>
     </ion-col>
     <ion-col size=6  align=center>
       <ion-icon name="trash" (click)="rmve(item)" color=success></ion-icon>
     </ion-col>       
        </ion-row>
        </ion-col>
    </ion-row>
    <br>
</ion-card>
<ion-card  *ngIf="state">
  
    <ion-item>
      <ion-label>Payment</ion-label>
      <ion-select value="payment" interface="popover" (ionChange)="optionsFn($event);">
        <ion-select-option value="cod">cash on delivery</ion-select-option>
        <ion-select-option value="Phonepe">Phone Pe</ion-select-option>
        <ion-select-option value="Gpay">Google pay</ion-select-option>
        <ion-select-option value="Netbanking">Net Banking</ion-select-option>
      </ion-select>
    </ion-item> <br>
  
  <ion-row>
    <ion-col sizez=6 style="padding-left:4%">
      <h4 style="font-style: italic; font-size: 20px; padding:2%; ">  {{"Total : "+ " ₹ " +totalvalue  + "/-" }}</h4> 
    </ion-col>
    <ion-col size=6>
      <ion-button expand=full (click)="confirm()" style="margin:5% 5%" class="dusty-grass-gradient"> Confirm Order  </ion-button>
    </ion-col>
    
  </ion-row>
</ion-card>    
</ion-content>
