<ion-header class="dusty-grass-gradient">  
  
  <ion-row class="text-center">
    <ion-col size=2>
      <ion-buttons>
      <ion-back-button routerLink="/tabs/tab2"></ion-back-button></ion-buttons>
    </ion-col>
    <ion-col size=10  style="margin-left:-7%;">
      <div style=" color:black;  font-family: 'Baloo Tamma 2', cursive; padding:10px; font-size:18px; ">
        <span  style="color:black; font-weight: 600; "> My Orders </span>
        
      </div>    
    </ion-col>
  </ion-row>  
</ion-header>

<ion-content>
  <ion-text *ngIf="items==undefined" style="font-style: italic; font-size: 15px;" align=center>
    <h3 > {{displayMsg}} </h3>
  </ion-text>
  <ion-text *ngIf="items!=undefined" style="font-style: italic; font-size: 15px;" align=center>
    <h3 > Active Orders :  </h3>
  </ion-text>
  <ion-row *ngIf="items!=undefined" style="font-weight:700 ;">
    <ion-col size=3 align=center>  Name      </ion-col>
    
    <ion-col size=3 align=center>  quantity    </ion-col>
    <ion-col size=3 align=center>  unit price      </ion-col>
    <ion-col size=3 align=center>   Price     </ion-col>
    
</ion-row>
<ion-row *ngFor="let item of items">      

  <ion-col size=3 *ngIf="!item.delivered" align=center> 
    {{ item.name}} 
  </ion-col>
  <ion-col size=3 *ngIf="!item.delivered" align=center>
    <p style="margin-bottom:2%">{{ item.qty*item.subqty+" "+item.amount.split(' ')[1]}} </p>
   
  </ion-col>
  <ion-col size=3 *ngIf="!item.delivered" align=center>       {{" ₹ "+item.cost +" /-"}}       </ion-col>
  <ion-col size=3 *ngIf="!item.delivered" align=center> {{" ₹ "+item.cost*item.qty*item.subqty +" /-"  }}</ion-col>         

</ion-row>

<ion-card *ngIf="items!=undefined">
  <h6 style="padding-left:8%">  MODE OF PAYMENT &nbsp; &nbsp; &nbsp; {{mode}}</h6> 
  <h6 style="padding-left:8%">  TOTAL ACTIVE BILL &nbsp; &nbsp; &nbsp; {{" ₹ "+totalvalue+" /-"}}</h6>  
</ion-card>
<br>
<ion-text *ngIf="items!=undefined" style="font-style: italic; font-size: 15px;" align=center>
  <h3 > Delivered Orders </h3>
</ion-text>
<br>

   
     
          <ion-row style="font-weight:700 ;" *ngIf="items!=undefined">
              <ion-col size=3 align=center>  Name      </ion-col>              
              <ion-col size=3 align=center>  quantity     </ion-col>
              <ion-col size=3 align=center>   unit price   </ion-col>
              <ion-col size=3 align=center>   Price     </ion-col>
              
          </ion-row>
      <ion-row *ngFor="let item of items">      
          
            <ion-col size=3 *ngIf="item.delivered" align=center> 
              {{ item.name}} 
            </ion-col>
            <ion-col size=3 *ngIf="item.delivered" align=center>
              <p style="margin-bottom:2%">{{ item.qty*item.subqty+" "+item.amount.split(' ')[1]}} </p>
             
            </ion-col>
            <ion-col size=3 *ngIf="item.delivered" align=center>       {{" ₹ "+item.cost +" /-"}}       </ion-col>
            <ion-col size=3 *ngIf="item.delivered" align=center> {{" ₹ "+item.cost*item.qty*item.subqty +" /-"  }}</ion-col>
          
                    
      
  </ion-row>
  <ion-card>
  <h6 style="padding-left:8%">  TOTAL BILLED &nbsp; &nbsp; &nbsp; {{" ₹ "+pretotal+" /-"}}</h6>
</ion-card>
</ion-content>
