<ion-header class="dusty-grass-gradient">  
  
  <ion-row class="text-center">
    
    <ion-col size=10 >
      <div style=" color:black;  font-family: 'Baloo Tamma 2', cursive; padding:10px; font-size:18px; ">
        <span  style="color:black; font-weight: 600; "> OUR STORY</span>
        
      </div>    
    </ion-col>
    <ion-col size=2 style="margin-top:0.5rem; ">
        <a (click)="close()" style="font-size: 15px; color:black">close</a>
    </ion-col>
  </ion-row>  
</ion-header>
<ion-content  >
    <ion-row >
        <div class="jumbotron dusty-grass-gradient" style="padding:3%; height:100%; line-height: 2rem; font-family: 'Baloo Tamma 2', cursive;"> 
          <ul>
              <li>
                We started Vijaya Vinayaka Organics in April 2020 as a solution for the people like us who are 
          looking for ways to reduce chemical content in the food we eat. 
              </li>
              <li>
                We Collect products from the farmers who cultivates in 100% natural ways without using chemical fertilizers and pesticides. 
              </li>
              <li>
                We deliver them with reasonable prices at your doorstep.
              </li>
              <li>
                Our motto is to encourage more farmers into natural farming. <br>
                We invite all to join us in this movement 
              </li>
          </ul> 
          
       <br>
       <br>
       <br>
        </div>
        
    </ion-row>
</ion-content>