@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

ion-item{
    margin:3%;
}
ion-button{
    margin-left: 10%;
    margin-right:10%;
    margin-top: 5%;
}
ion-label{
    font-family: 'Baloo Tamma 2', cursive;
    color:lightgreen;
}
