<ion-header class="dusty-grass-gradient">  
  
  <ion-row class="text-center">
    <ion-col size=2 >      
      <a routerLink="/tabs/contact-us" (click)="close()"><i class="fas fa-arrow-left"></i></a>
    </ion-col>
    <ion-col size=10  style="margin-left:-7%;">
      <div style=" color:black;  font-family: 'Baloo Tamma 2', cursive; padding:10px; font-size:18px">
        <span  style="color:black; font-weight: 600; "> Reviews </span>
        
      </div>    
    </ion-col>
  </ion-row>  
</ion-header>
<ion-content>
  <h6 align=center> write a review </h6>
  
  <ion-row>
      <ion-col size=1></ion-col>
      <ion-col size=10>
        <ion-item>
          <ion-label position=floating>Review</ion-label>
          <ion-textarea rows="6" cols="20"  [(ngModel)]="review">  </ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size=1></ion-col>
  </ion-row>
  <ion-button class="dusty-grass-gradient" (click)="submit()" expand=full style="margin:3%;">submit</ion-button>
  <ion-card *ngFor="let x of reviews" style="padding:2% 5%; color:black; font-family: 'Baloo Tamma 2', cursive; margin-top:2%;">
        {{ x.review }}
        <br><br>
        <p style="float:right; color:red; font-size: smaller;"> --by {{x.username}}</p>
  </ion-card>
</ion-content>
